@font-face {
  font-family: ARK-ES;
  font-weight: normal;
  src: url("/fonts/ARK-ES-DenseRegular.otf") format("opentype");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    position: relative;
    font-family: "acumin-pro", sans-serif;
    font-style: normal;
}
.page {
    position: relative;
}
/** blurry links ***********************************************************/ 
a.blur {
    filter: blur(3px);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.blur:hover {
    filter: blur(0.1px);
    color: #000000;
}
/** fullscreen layout ***********************************************************/ 
.screensized {
    width: 100vw;
    height: 100vh;
}

.screensized.fixed {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}
