[submodule "js/lib/MIDIKeys"]
	path = js/lib/MIDIKeys
	url = https://github.com/linobino1/MIDIKeys.git
[submodule "js/lib/TypewriterJS"]
	path = js/lib/TypewriterJS
	url = https://github.com/tameemsafi/typewriterjs
