.page.about {
  overflow: auto;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  z-index: 100;
}
.page.about .navigation {
  text-align: right;
	padding: .2em .5em;
  font-size: 2rem;
  color: white;
}
.page.about .navigation a.blur {
  color: white;
}
.page.about .header {

}
.page.about h1 {
  text-align: center;
  font-size: 5rem;
  margin: 3vh 0;
}
.manifest {
  text-align: center;
}

.about-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  padding: 0 1vw;
}
.about-block-text {
  grid-column: 1 / span 2;
  line-height: 3.7vw;
  font-size: var(--font-size-big);
}
.about-block-info {
  position: relative;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0%;
  font-weight: 200;
}
.description{
  position: absolute;
  width: 96%;
}

.names{
  position: absolute;
  padding-left: 15.5vw;
  padding-top: 7.6vw;
}

hr {
  border-top: 0vw solid rgb(255, 255, 255);
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.about-block-columns {
  columns: 3;
  column-gap: 2rem;
}
.about-block-columns .no-break {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  padding-left: 1vw;
  filter: blur(3px);
  position: relative;
  overflow: auto;
}
.about-block-columns .no-break:hover {
  filter: blur(.1px);
}
.about-block-columns h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.5vw;
  margin-bottom: -0.5vw;
  word-spacing: -0.6vw;
}
.about-block-columns .no-break::before:hover {
  content: '';
  backdrop-filter: blur(0.1px);
  background-color: none;
} */

.about-block-columns .no-break .tab {
  display: inline-block;
  margin-left: 30px;
}

@media (max-width: 700px) {
  .about-block {
    grid-template-columns: 1fr;
    row-gap: inherit;
  }
  .about-block-text,
  .about-block-info {
    grid-column: auto;
  }

  .about-block-columns {

  }
}