.page.about {
  overflow: auto;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "acumin-pro", sans-serif;
  font-style: normal;
  font-size: 3.5vw;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  z-index: 100;
}

.menu-button {
  font-size: 1em;
}
.about-page .menu-button {
  font-size: 1.2em;
}
.blur-setup {
  font-size: 2rem;
  width: fit-content;
  align-self: flex-end;
  padding-top: 0.8%;
  padding-right: 2%;
  text-align: right;
  filter: blur(3px);
  color: rgb(255 255 255);
  text-decoration: none;
}

.blur-setup:hover {
  filter: blur(0.1px);
  color: #ffffff;
}

.page.about h1 {
  margin-top: -5%;
  margin-bottom: -5%;
  text-align: center;
  font-size: 5rem;
}
.manifest {
  text-align: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.about-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}
.about-block-text {
  grid-column: 1 / span 2;
  font-size: 3.5vw;
  line-height: 3.7vw;
  padding-left: 1vw;
}
.about-block-info {
  position: relative;
  font-size: 1.5vw;
  line-height: 1.7vw;
  padding-right: 1vw;
  margin-top: 0%;
  font-weight: 200;
}
.description{
  position: absolute;
  width: 96%;
}

.names{
  position: absolute;
  padding-left: 15.5vw;
  padding-top: 7.6vw;
}

hr {
  border-top: 0vw solid rgb(255, 255, 255);
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.about-block-columns {
  columns: 3;
  column-gap: 2rem;
}
.about-block-columns .no-break {
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  font-size: 1.7vw;
  line-height: 2.1vw;
  font-weight: 200;
  padding-left: 1vw;
  filter: blur(3px);
  position: relative;
  overflow: auto;
}
.about-block-columns .no-break:hover {
  filter: blur(.1px);
}
.about-block-columns h3 {
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 3.3vw;
  margin-top: 0.5vw;
  margin-bottom: -0.5vw;
  word-spacing: -0.6vw;
}

/* .about-block-columns .no-break::before {
  content: " ";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  backdrop-filter: blur(3px);
  background-color: red;
}

.about-block-columns .no-break::before:hover {
  content: '';
  backdrop-filter: blur(0.1px);
  background-color: none;
} */

.about-block-columns .no-break .tab {
  display: inline-block;
  margin-left: 30px;
}
