.page.intro {
  font-size: 8.3vw;
  font-style: normal;
}

.typewriter {
  padding: 1%;
  line-height: 7.6vw;
}

.other-font {
  font-family: "ARK-ES";
  font-style: normal;
  font-weight: normal;
  line-height: 5.5vw;
}
